<ion-content>
  <div class="tab-container">
    <div class="card">
      <div class="card-header">
        Tử vi
      </div>

      <div class="card-body">
        Tính năng đang phát triển
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Thần số học
      </div>

      <div class="card-body">
        Tính năng đang phát triển
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        12 cung hoàng đạo
      </div>

      <div class="card-body">
        Tính năng đang phát triển
      </div>
    </div>
  </div>
</ion-content>
