$border-color: var(--ion-color-primary-tint);
$background-color: var(--ion-color-primary);

ion-content {
  background-color: #f4f6f6;
}

.calendar {
  padding: 4px 16px;
  min-height: 358px;

  .month-year {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .month {
      min-width: 120px;
    }

    .year {
      min-width: 40px;
    }
  }

  .seperator {
    width: 100%;
    border-radius: 10px;
    border-top: 2px solid $border-color;

    margin-bottom: 1rem;
  }

  .flat-button::part(native) {
    padding: 0;
    font-size: 1rem;
  }

  .icon-button::part(native) {
    font-size: 1rem;
    color: #8d8d8d;
  }
}

.block {
  padding: 0;
  margin-top: 1rem;
}

// calendar table
.sat {
  color: #4272ff;
}

.sun {
  color: #ff4343;
}

table.vn-calendar {
  width: 100%;
  max-width: 100%;

  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    font-size: 0.7rem;
    padding: 4px 8px;
    text-align: center;
  }

  td {
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
  }

  div.vn-day {
    width: 100%;
    height: 100%;
    padding: 6px 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .solar {
    font-size: 0.9rem;
  }

  .lunar {
    font-size: 0.7rem;
  }

  .disable {
    color: #bdbdbd !important;
  }

  .today, .active {
    background-color: $background-color;
    color: white !important;
  }

  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;

    top: 6px;
    right: 4px;
    position: absolute;
  }
}

table.solar-lunar {
  width: 100%;
  max-width: 100%;

  text-align: center;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.9rem;

  td, th {
    padding: 10px;
  }

  .date {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  .weekday {
    font-size: 1rem;
    text-transform: capitalize;
  }

  .header {
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--ion-color-primary-tint);
  }
}