ion-menu::part(container) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

ion-content::part(background) {
  background: transparent;
}

ion-header::after {
  content: none !important;
}

ion-content {
  padding-top: var(--ion-safe-area-top);
}

ion-button {
  text-transform: none;
}

.alert-form .alert-wrapper {
  --max-height: 450px;
  --min-width: 280px;
  font-size: 16px;
}

.alert-form .alert-radio {
  padding: 2px 6px;
}

.alert-form .alert-radio-group {
  max-height: unset;
}